@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
  width: 100%; /* Make the button fill its container */
  height: 100%;
  
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover{
  background-color: #f0f0f0;
}

.button-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}